In [116]:
##Bomberos https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=fa677996afc6f510VgnVCM1000001d4a900aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default

import pandas as pd
import datetime
from pandas import Timedelta

#Cargamos los datos de 2022 y 2023 después los concatenamos en un dataframe.

bomberos_2022 = pd.read_csv('./data/ActuacionesBomberos_2022.csv', sep=";")
bomberos_2023 = pd.read_csv('./data/ActuacionesBomberos_2023.csv', sep=";")

bomberos_2022.head()
bomberos_2023.head()

#Por defecto el axis es 0.
bomberos_2223 = pd.concat([bomberos_2022, bomberos_2023], axis=0)

bomberos_2223.head(100)


# bomberos_2223[bomberos_2223["AÑO"] == 2023]

#Remplazar los meses por el número del mes. Para un Dataframe se tiene que indicar la columna sobre la que se quiere remplazar, en un Series no hace falta.

# bomberos_2223.replace({'MES': {'enero':1, 'febrero':2, 'marzo':3, 'abril':4, 'mayo':5, 'junio':6, 'julio':7, 'agosto':8, 'septiembre':9, 'octubre':10, 'noviembre':11, 'diciembre':12}})

mes_numero = bomberos_2223.MES.replace({'enero':1, 'febrero':2, 'marzo':3, 'abril':4, 'mayo':5, 'junio':6, 'julio':7, 'agosto':8, 'septiembre':9, 'octubre':10, 'noviembre':11, 'diciembre':12}, inplace=True)

bomberos_2223["mesNumero"] = mes_numero

bomberos_2223.head()

#Calcular la suma de salidas en cada año, por cada distrito, manteniendo los diferentes tipos de salida.


totales = bomberos_2223["TOTAL"].sum()


print(totales)

bomberos_2223.groupby(["AÑO", "TOTAL"]).sum()


bomberos_ano_total = pd.concat([bomberos_2223.AÑO, bomberos_2223.TOTAL], axis=0)

bomberos_ano_total.head()


#Ver cuantos distritos hay

distritos = bomberos_2223.DISTRITO.unique()

print(f"Número de distritos: {len(distritos)}")

#Para 2022, LATINA tendremos todas las columnas: fuegos, daños en const...





#Para 2022, RETIRO tendremos todas las columnas: fuegos, daños en const...


#Distrito con más salidas por Fuegos en 2022

sumaDistritoTotal = bomberos_2022.groupby( by = ["AÑO","DISTRITO"], as_index=False)["FUEGOS"].sum()

sumaDistritoTotal.iloc[sumaDistritoTotal.FUEGOS.argmax()]



#Para el dataframe de bomberos , crea una columna para representar la fecha a partir de las columnas AÑO y MES; Usaremos la columna para ordenar el dataframe por fecha.

fechas = pd.DataFrame(bomberos_2223, columns=["AÑO","MES"])

#Otra forma para crear un nuevo dataframe -> bomberos_2223[["MES", "AÑO"]].copy()


fechas = pd.Series([pd.Timestamp(year=y, month=m, day=1) for y,m in fechas.itertuples(index=False)])

#Otra forma de crear datetimes -> datetimes = pd.to_datetime(df[columns])

bomberos_2223["FECHA"] = fechas

bomberos_2223.sort_values(by=["FECHA","DISTRITO"], axis=0, ascending= [False, True]).head(200)

#Como la fecha es un tipo de dato de numpy, podemos hacer operaciones a toda la columna por ejemplo con la función TimeDelta

bomberos_2223.FECHA = bomberos_2223.FECHA - pd.Timedelta("365 day")


bomberos_2223.head()

54293
Número de distritos: 23

,AÑO,MES,DISTRITO,FUEGOS,DAÑOS EN CONSTRUCCION,SALVAMENTOS Y RESCATES,DAÑOS POR AGUA,INCIDENTES DIVERSOS,SALIDAS SIN INTERVENCION,SERVICIOS VARIOS,TOTAL,mesNumero,FECHA
0,2022,12,CENTRO,26,40,56,41,70,84,14,331,None,2021-12-01
1,2022,12,ARGANZUELA,6,11,12,10,6,34,2,81,None,2021-12-01
2,2022,12,RETIRO,4,9,15,12,10,16,2,68,None,2021-12-01
3,2022,12,SALAMANCA,7,15,31,13,23,29,8,126,None,2021-12-01
4,2022,12,CHAMARTIN,13,7,21,20,21,21,3,106,None,2021-12-01