In [71]:
#Ejercicios sobre Pandas I.E.S Clara del Rey 2024 (https://pandas.pydata.org/docs/)

import pandas as pd
import numpy as np
##1. A partir del fichero netflix_titles.csv

datos_netflix = pd.read_csv("./data/netflix_titles.csv", sep=",")

### 1. Calcula el número de filas en el fichero, el de series y el de películas.

#Dado que el dataframe es una colección de filas, con la función len() podemos obtener el número de las mismas.

n_filas = len(datos_netflix)
print(f"Número de filas: {n_filas}")

n_movies = len(datos_netflix[datos_netflix.type == "Movie"])
n_series = len(datos_netflix[datos_netflix.type == "TV Show"])

print(f"Número de series: {n_series}, Número de películas: {n_movies}")

### 2. Calcula el porcentaje de series y películas sobre el total de títulos.

#El porcentaje lo calculamos con la formula (total_tipo / total) * 100

p_series = (n_series / n_filas) * 100
p_peliculas = (n_movies / n_filas) *100

print(f"Porcentaje de series: {p_series}, Porcentaje de películas: {p_peliculas}")

### 3. Cuenta el número de directores diferentes que aparecen en el fichero.

#Podemos calcular el número de directores diferentes si nos quedamos con una lista de directores y aplicamos la función unique y seguidamente calculamos su longitud (https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html)

directores = datos_netflix.director.unique()
n_directores = len(directores)

print(f"Número de directores diferentes: {n_directores}")

### 4. Añade una nueva columna, "peliLarga", con valor 1 para las películas de más de 120 minutos y 0 en otro caso.

#Podemos añadir una columna a nuestro dataframe con esta sintaxis -> dataframe["nueva_columna"] = serie.
#Sobre la serie duration hacemos un map para quedarnos con el primer valor del string separado para después aplicar un operador ternario con nuestra condición y crear la serie que será introducida manteniendo el index en nuestro dataframe.

peliLarga = pd.Series([1 if x > 120 else 0 for x in datos_netflix.duration.map(lambda x: float(str(x).split(" ")[0]))]) #Esto nos vale ya que la columna duration para las series la podemos splitear, coger el primer campo y comprobarlo, sabemos que casi nunca el número de temporadas de una serie va a ser mayor que 120, si se da el caso el valor de la columna peliLarga será 1.

datos_netflix["peliLarga"] = peliLarga

### 5. Crea un nuevo fichero csv, solo con películas, ordenadas por año de aparición, la más reciente primero.
###(pandas.DataFrame.to_csv y https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

#Lo primero es crear una dataframe nuevo solo con las películas y utilizar la función sort_values(by="nombre_campo", ascending = False | True), posteriormente utilizar la función copy() para crear la copia.
#Finalmente con la función Dataframe.to_csv("nombre_fichero.csv", index=True | False) podemos guardar el dataframe como un archivo .csv

datos_peliculas = datos_netflix[datos_netflix.type == "Movie"].sort_values(by="release_year", ascending=False).copy()

datos_peliculas.to_csv("./data/peliculas.csv", index=True)

### 6. Crea un nuevo dataframe solo con las películas listadas como documentales lanzadas ("release_year") en 2020.

#Podemos meter dos condiciones dentro de Dataframe[] siempre y cuando las condiciones esten dentro de paréntesis.
datos_peliculas_documentales_2020 = datos_peliculas[(datos_peliculas.listed_in.str.contains("Documentaries", regex=False)) & (datos_peliculas.release_year == 2020)]

datos_peliculas_documentales_2020.to_csv("./data/documentales_2020.csv", index=True)

### 7. Elimina de este dataframe la columna la columna "cast". https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
#Con la función drop(columns="nombre_columna") o drop(columns=["nombre_columna_1", "nombre_columna_2"])
datos_peliculas_documentales_2020 = datos_peliculas_documentales_2020.drop(columns=["cast"])

### 8. Cambia los nombres de todas las columnas a una versión en español. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

datos_netflix.rename(columns={"show_id":"id_espectaculo","type":"tipo","title":"titulo","country":"pais","date_added":"ano_anadido","release_year":"fecha_lanzamiento","rating":"valoracion","listed_in":"listado_en","description":"descripcion"}, inplace=True)

datos_netflix.head()

Número de filas: 8807
Número de series: 2676, Número de películas: 6131
Porcentaje de series: 30.38492108550017, Porcentaje de películas: 69.61507891449983
Número de directores diferentes: 4529

,id_espectaculo,tipo,titulo,director,cast,pais,ano_anadido,fecha_lanzamiento,valoracion,duration,listado_en,descripcion,peliLarga
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,0
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",0
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,0

In [86]:
import pandas as pd
import numpy as np
##2. Con el fichero de boxer_data.csv:

datos_boxeo = pd.read_csv("./data/boxer_data.csv", sep=",")

###1. Calcula el porcentaje de hombres y mujeres en el fichero.
n_filas = len(datos_boxeo)
n_hombres = len(datos_boxeo.Sex == "Male")
n_mujeres = len(datos_boxeo.Sex == "Female")

p_hombres = (n_hombres / n_filas) * 100
p_mujeres = (n_mujeres / n_filas) * 100

print(f"Porcentaje hombre: {p_hombres} Porcentaje mujeres: {p_mujeres}")
###2. Crea un DataFrame solo con los que pesen más de 150.
#Creamos una nueva serie a partir de la serie de Weight en el dataframe datos_boxeo para posteriormente remplazarla y filtrar el resultado.
format_hwt_serie = pd.Series([151 if x == "HWT" else x for x in datos_boxeo.Weight]).astype(int)
datos_boxeo.Weight = format_hwt_serie

hwt_boxers = datos_boxeo[datos_boxeo.Weight > 150]

datos_boxeo.head()

Porcentaje hombre: 100.0 Porcentaje mujeres: 100.0

,Unnamed: 0,Rating,Boxer,Country,Weight,Ceiling,Action,Promoter,Trainer,Sex
0,0,1,"Alvarez, Canelo",MX,168,5.0,4.13,NaN,"Reynoso, Eddy",Male
1,1,2,"Shields, Claressa",US,154,5.0,4.00,Salita,"Jackson, John David",Female
2,2,3,"McCaskill, Jessica",US,147,5.0,4.00,Matchroom,"Ramos, Rick",Female
3,3,4,"Estrada, Seniesa",US,105,5.0,4.00,Golden Boy,"Campos, Dean",Female
4,4,5,"Serrano, Amanda",PR,126,5.0,5.00,Most Valuable Promotions,"Maldonado, Jordan",Female

In [127]:
import pandas as pd
import numpy as np
##3. Para los ficheros con las salidas de los bomberos de Madrid de 2022 y 2023:

#Guardamos los csv en un dataframe por separado
bomberos2022 = pd.read_csv("./data/ActuacionesBomberos_2022.csv", sep=";")
bomberos2023 = pd.read_csv("./data/ActuacionesBomberos_2023.csv", sep=";")

#Utilizamos la función concat([df1, df2], axis=x) para concatenar más de un datframe.https://pandas.pydata.org/docs/reference/api/pandas.concat.html
bomberos2223 = pd.concat([bomberos2022, bomberos2023])

#1. Calcular la suma de salidas en cada año, por cada distrito, manteniendo los diferentes tipos de salida. Por ejemplo, 
# para 2022, LATINA tendremos todas las columnas fuegos, daños en construcción...
# para 2022, RETIRO tendremos todas las columnas fuegos, daños en construcción...

#Utilizamos la función groupby(by=["col_1", "col_2"], as_index=False) y después utilizamos la función sum sobre el campo total.
#Aquí el groupby funciona como SQL por lo que primero agrupa por año y después por distrito, el parámetro as_index=False lo que hace es no meter la primera columna de filtrado como index.
sumas_salidas_por_ano_distrito = bomberos2223.groupby(by=["AÑO","DISTRITO"], as_index=False)["TOTAL"].sum()

sumas_salidas_por_ano_distrito.to_csv("./data/bomberos_salidas_por_ano_distrito.csv")

#Encontrar el distrito con más daños por fuegos en 2022.

#Utilizamos la función groupby() seguido de un sum() del campo que nos interesa para obtener una nueva columna y guardar este nuevo dataframe una una nueva varible.
#Seguidamente obteenemos la posición del registro con más fuegos con la función argmax(), finalmente hacemos referencia a esa posición con la función Dataframe.iloc[posición]

suma_fuegos_2022_distrito = bomberos2223[bomberos2223.AÑO == 2022].groupby(by=["AÑO", "DISTRITO"], as_index=False)["FUEGOS"].sum()

print(f"Distrito con más fuegos en 2022: \n",suma_fuegos_2022_distrito.iloc[suma_fuegos_2022_distrito.FUEGOS.argmax()])



#3. Calcula la suma de salidas en cada mes, para todos los distritos.

#Hacemos una agrupación con la función groupby() y calculamos la suma del campo total para esta primera agrupación.

bomberos2223.groupby(by=["MES"], as_index=False)["TOTAL"].sum()

Distrito con más fuegos en 2022:
 AÑO               2022
DISTRITO    VILLAVERDE
FUEGOS             432
Name: 22, dtype: object

           MES  TOTAL
0        abril   3984
1       agosto   5034
2    diciembre   4710
3        enero   2922
4      febrero   3243
5        julio   5543
6        junio   5164
7        marzo   3688
8         mayo   4817
9    noviembre   4824
10     octubre   5239
11  septiembre   5125

In [169]:
import pandas as pd
import numpy as np

# 4. A partir del fichero netflix_titles.csv calcula el número de películas de cada país, su duración máxima, mínima y media.
# Guarda esta información en un fichero .csv con con columnas PAIS, NUMERO, MAXIMA, MINIMA Y MEDIA


datos_netflix = pd.read_csv("./data/netflix_titles.csv", sep=",")

netflix_stats = pd.DataFrame(columns=["PAIS","NUMERO","MAXIMA","MINIMA","MEDIA"])

netflix_movies = datos_netflix[datos_netflix.type == "Movie"]

#netflix_movies.groupby(by="country").size()

new_duration = netflix_movies.duration.map(lambda x: float(str(x).split(" ")[0]))

# netflix_movies["duration"] = netflix_movies.duration.map(lambda x: float(str(x).split(" ")[0]))

netflix_movies.loc["duration"] = new_duration

C:\Users\franc\AppData\Local\Temp\ipykernel_7744\3232445783.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_movies.loc["duration"] = new_duration