In [12]:
#https://pandas.pydata.org/docs/reference/api/pandas.concat.html
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

import pandas as pd

marcas = ["Toyota","Subaru","Yamaha","Citroen"]
paises = ["Colombia","Francia","China","Espa√±a"]
numEmple = [100,200,300,400]

marcasDf = pd.DataFrame(marcas, columns=["Marca"])
numEmpleDf = pd.DataFrame(numEmple, columns=["numEmple"])
paisesDf = pd.DataFrame(paises, columns=["paises"])

marcosConEmple = pd.concat([marcasDf, numEmpleDf], axis=1)

marcosConEmple.head()


# todosDf = pd.DataFrame([marcas,paises,numEmple], columns=["marca", "paises", "empleados"])

     Marca  numEmple
0   Toyota       100
1   Subaru       200
2   Yamaha       300
3  Citroen       400